<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Index Page</title>
    <style>
        .galleryName {
            font-weight: bold;
            margin: 10px;
            font-size: big;
        }
        .galleryPath {
            color: #555555;
            font-style: italic;
            font-size: small;
            margin: 10px;
        }
        .thumb {
            border-width: 2px;
            border-color: white;
            border-style: solid;
        }
    </style>
    <script>
        function callDelete(id)
        {
            let xhr = new XMLHttpRequest();
            xhr.open("GET", "/gallery/delete/"+id)
            xhr.send()
            xhr.onload = function()
            {
                document.getElementById(id).innerHTML = xhr.status;
            };
        }
    </script>
</head>
<body>
<h1 th:text="${repository.path}"></h1>
<table>
    <tr th:each="gallery : ${repository.getGalleriesSorted()}">
        <table style="margin: 10px;">
            <tr>
                <td>
                    <span class="galleryName" th:text="${gallery.name}"></span>
                    <span class="galleryPath" th:text="${gallery.path}"></span>
                    <span class="galleryCount" th:text="'Pic count: ' + ${gallery.pictureCount}"></span><br/>
                    [ <a onclick="javascript:callDelete(this.getAttribute('data-id'))" th:data-id="${gallery.id}" href="javascript:void(0)">DELETE</a> <span th:id="${gallery.id}"></span>]
                </td>
            </tr>
            <tr>
                <td>
                    <span th:each="thumb : ${gallery.thumbnails}"><img class="thumb" th:src="${thumb}"/></span>
                </td>
            </tr>
        </table>
    </tr>
  </table>
</body>
</html>